# General
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.tar.gz
*.zip
*.rar
*.7z

# Python
__pycache__/
*.py[cod]
*$py.class
goimomibackend/.env
goimomibackend/mig_out.txt
goimomibackend/db.sqlite3

# Node
node_modules/
goimomifrontend/dist/
goimomifrontend/.env

# Local development
.env
.env.local
.env.*.local
